{% load staticfiles %}
<div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="{% static 'images/gravatar.png' %}" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>{{ user.user_name }}</span>
            <div class="mdl-layout-spacer"></div>
{#            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">#}
{#              <i class="material-icons" role="presentation">arrow_drop_down</i>#}
{#              <span class="visuallyhidden">Accounts</span>#}
{#            </button>#}
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">{{ user.phonenumber }}</li>
              <a style="text-decoration: none;" href="{% url 'logout' %}"><li class="mdl-menu__item"><i class="material-icons">delete</i>退出登录</li></a>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="{% url 'usercenter' %}">頁面代碼作品</a>
          <a class="mdl-navigation__link" href="{% url 'designindex' %}">頁面設計作品</a>
          <a class="mdl-navigation__link" href="{% url 'workindex' %}">課後練習列表</a>
          <a class="mdl-navigation__link" href="{% url 'passwd' %}">更換手機號碼</a>
          <a class="mdl-navigation__link" href="{% url 'logout' %}">退出登录狀態</a>
        </nav>
      </div>